<!DOCTYPE html>
<html ng-app="appAngular">

<head>
    <title>Controller Atributos e funções</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <meta charset="utf-8" />
    <style>
    </style>

</head>

<body ng-controller="Principal as ctl">
    <!-- Conteúdo da View -->
    <h2>Controle de Alunos</h2>
    <form ng-submit="ctl.submit()">
        Nome:
        <br />
        <input type="text" ng-model="ctl.nome" />
        <br />
        <select ng-model="ctl.curso" ng-options="c.descricao for c in ctl.cursos"></select>
        <br /> Período:
        <br />
        <label>
            <input type="radio" name="periodo" ng-model="ctl.periodo" value="manhã" />Manhã
        </label>
        <label>
            <input type="radio" name="periodo" ng-model="ctl.periodo" value="noite" /> Noite
        </label>
        <br />
        <input type="submit" value="Enviar" />
    </form>



    <!-- definição da Api e Controller -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script type="text/javascript">
        angular.module('appAngular', [])
            .controller('Principal', [function () {

                var self = this;

                self.cursos = [
                    { id: 1, descricao: 'Java' },
                    { id: 2, descricao: 'JavaScript' },
                    { id: 3, descricao: 'NodeJs' }
                ];

                self.submit = function () {
                    alert('Dados do Aluno:\nNome:' + self.nome + '\nCurso:' + self.curso.descricao +
                        '\nPeríodo:' + self.periodo);
                };

            }]);

    </script>

</body>

</html>